<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
    <title>Fruits App</title>
  </head>
  <body>
    <% if (user) { %>
      <h1>Welcome to the Fruits app <%= user.username %>!</h1>
   <% } else { %>
    <p>
      <a href="/auth/sign-up">Sign Up</a> or <a href="/auth/sign-in">Sign In</a>
    </p>
   <% }%>
    <p>An app for collecting your favorite fruits.</p>
    <nav>
        <ul>
            <li>
                <a href="/auth/sign-up">Sign Up</a>
            </li>
            <li>
              <a href="/auth/sign-in">Sign In</a>
            </li>
            <li>
                <a href="/fruits">Browse Fruits</a>
            </li>
            <li>
                <a href="/fruits/new">Add a New Fruit</a>
            </li>
        </ul>
    </nav>
  </body>
</html>
